<!-- Validation failure messages -->

<% if @item.errors.any? %>
  <% @item.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<!-- Responsive panel example -->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Edit Item #<%= @item.id %></h3>
      </div>
      <div class="panel-body">
        <form action="/update_item/<%= @item.id %>" method="post" class="form-horizontal">
          <!-- Hidden input for authenticity token to protect from forgery -->
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

          <!-- Label and input for item_name -->
          <div class="form-group">
            <label for="item_name" class="col-sm-2 control-label">
              Item name
            </label>
            <div class="col-sm-10">
              <input type="text" id="item_name" name="item_name" placeholder="Item name" class="form-control" value="<%= @item.item_name %>">
            </div>
          </div>

          <!-- Label and input for description -->
          <div class="form-group">
            <label for="description" class="col-sm-2 control-label">
              Description
            </label>
            <div class="col-sm-10">
              <textarea id="description" name="description" placeholder="Description" class="form-control" rows="3"><%= @item.description %></textarea>
            </div>
          </div>

          <!-- Label and input for value -->
          <div class="form-group">
            <label for="value" class="col-sm-2 control-label">
              Value
            </label>
            <div class="col-sm-10">
              <input type="text" id="value" name="value" placeholder="Value" class="form-control" value="<%= @item.value %>">
            </div>
          </div>

          <!-- Label and input for starting_bid -->
          <div class="form-group">
            <label for="starting_bid" class="col-sm-2 control-label">
              Starting bid
            </label>
            <div class="col-sm-10">
              <input type="text" id="starting_bid" name="starting_bid" placeholder="Starting bid" class="form-control" value="<%= @item.starting_bid %>">
            </div>
          </div>

          <!-- Label and input for increment -->
          <div class="form-group">
            <label for="incr" class="col-sm-2 control-label">
              Increment
            </label>
            <div class="col-sm-10">
              <input type="text" id="incr" name="incr" placeholder="Increment" class="form-control" value="<%= @item.incr %>">
            </div>
          </div>

          <!-- Label and input for donor -->
          <div class="form-group">
            <label for="donor" class="col-sm-2 control-label">
              Donor
            </label>
            <div class="col-sm-10">
              <input type="text" id="donor" name="donor" placeholder="Donor" class="form-control" value="<%= @item.donor %>">
            </div>
          </div>

          <!-- Label and input for photo -->
          <div class="form-group">
            <label for="photo" class="col-sm-2 control-label">
              Photo
            </label>
            <div class="col-sm-10">
              <input type="text" id="photo" name="photo" placeholder="Photo" class="form-control" value="<%= @item.photo %>">
            </div>
          </div>

          <!-- Label and input for category -->
          <div class="form-group">
            <label for="category" class="col-sm-2 control-label">
              Category
            </label>
            <div class="col-sm-10">
              <input type="text" id="category" name="category" placeholder="Category" class="form-control" value="<%= @item.category %>">
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button class="btn btn-warning">
                Update Item
              </button>
              or
              <a href="/items/<%= @item.id %>">Cancel</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- End responsive panel example -->
