
<!-- Responsive, Isotope-based layout example -->


<div class="container">
  <div class="row header">
    <div class="col-md-12" id="bar">
      <h3>Welcome to our Online Auction!</h3>
      <p class="text-danger">Auction starts: September 16, 2015 8:00 AM;
        Auction ends: September 18, 8:00 PM
      </p>
      <form action="cheatsheet.html">
        <input type="text" id="quicksearch" placeholder="Search Items" class="form-control">
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <hr>
      <h4>All Items</h4>
    </div>
    <div class="col-md-12 featured">
      <div class="col-md-2">
      </div>
      <div class="col-md-6">
      </div>
      <div class="col-md-1">
        <p><span style="text-decoration: underline;">Winning</p></span>
      </div>
      <div class="col-md-1">
        <p><span style="text-decoration: underline;">Category</p></span>
      </div>
      <div class="col-md-1">
        <p> <span style="text-decoration: underline;">#Bids</p>
      </div>
      <div class="col-md-1">
        <p> <span style="text-decoration: underline;">Bid</p>
      </div>
    </div>
  </div>
  <% @items.each do |item| %>
  <div class="row">
    <div class="col-md-12">
       <div class="col-md-2">
         <%= image_tag item.photo, width: 100, height: 100, class: "item" %>
       </div>
       <div class="col-md-6">
         <a href="/items/<%= item.id %>"><%= item.item_name %></a>
         <p><%= item.description %></p>
       </div>
       <div class="col-md-1">
       </div>
       <div class="col-md-1"><a href="/cat/#<%= item.category %>"><%= item.category %></a>
       </div>
       <div class="col-md-1">
        <%= item.bids.count %>
       </div>
       <div class="col-md-1">
        <%= item.bids.maximum("bid_amount") %>
       </div>
    </div>
  </div>
  <% end %>

<div class="col-md-12">
  <h3>Sponsors:</h3>
  <div class="col-md-2"><img src="/images/sponsor/porter.jpg" class="sponsor" width="150" height="150"></div>
  <div class="col-md-2"><img class="sponsor" src="/images/sponsor/bmc.png" width="150" height="150"></div>
  <div class="col-md-2"><img class="sponsor" src="/images/sponsor/theark.jpg" width="150" height="150"></div>
  <div class="col-md-2"><img class="sponsor" src="/images/sponsor/swartzretson.jpg" width="150" height="150"></div>
  <div class="col-md-2"><img class="sponsor" src="http://img2.wikia.nocookie.net/__cb20130511180903/legendmarielu/images/b/b4/No_image_available.jpg" width="150" height="150"></div>
  <div class="col-md-2"><img class="sponsor" src="http://img2.wikia.nocookie.net/__cb20130511180903/legendmarielu/images/b/b4/No_image_available.jpg" width="150" height="150"></div>
  <hr>
</div>

  <!-- <a id="all"><div class="row isotope-container">
    <% @items.each do |item| %></a>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 isotope-item">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Item #<%= item.id %></h3>
        </div>
        <div class="panel-body">
          <dl>
            <dt>Item name</dt>
            <dd><a href="/items/<%= item.id %>" target="_blank"><%= item.item_name %></a></dd>

            <dt>Description</dt>
            <dd><%= item.description %></dd>

            <dt>Value</dt>
            <dd>$<%= item.value %></dd>

            <dt>Starting bid</dt>
            <dd>$<%= item.starting_bid %></dd>

            <dt>Bid Increase</dt>
            <dd>$<%= item.incr %></dd>

            <dt>Donor</dt>
            <dd><%= item.donor %></dd>

            <dt>Photo</dt>
            <dd><a href="<%= item.photo %>" target="_blank"><img src="<%= item.photo %>" width="200"></dd></a>

            <dt>Category</dt>
            <dd><%= item.category %></dd>

          </dl>
          <div class="btn-group btn-group-justified">
            <a href="/items/<%= item.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>

            <a href="/items/<%= item.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>

            <a href="/delete_item/<%= item.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div> -->

  <!-- You can ignore the following. It's a quick and dirty example of how to get a Pinterest-style layout with quick search. -->
  <!-- JavaScript for Isotope layout and quicksearch -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/3.1.8/imagesloaded.pkgd.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.0.0/isotope.pkgd.min.js"></script>
  <script>
    $(function() {
    // quick search regex
    var qsRegex;

    // init Isotope
    var $container = $('.isotope-container');

    $container.imagesLoaded(function() {
      $container.isotope({
        itemSelector: '.isotope-item',
        layoutMode: 'masonry',
        filter: function() {
          return qsRegex ? $(this).text().match( qsRegex ) : true;
        }
      })
    });

    // use value of search field to filter
    var $quicksearch = $('#quicksearch').keyup( debounce( function() {
      qsRegex = new RegExp( $quicksearch.val(), 'gi' );
      $container.isotope();
    }, 200 ) );

  });

  // debounce so filtering doesn't happen every millisecond
  function debounce( fn, threshold ) {
    var timeout;
    return function debounced() {
      if ( timeout ) {
        clearTimeout( timeout );
      }
      function delayed() {
        fn();
        timeout = null;
      }
      timeout = setTimeout( delayed, threshold || 100 );
    }
  }
</script>
<div class="row">
  <div class="col-md-12" align="right">
    <h5>follow us on
      <button class="btn" type="button">
        <a href="http://www.facebook.com/healinghealthandhope" target="_blank">
          <img src="https://lh5.ggpht.com/_XklY7dK6yGsYt53X15RIp7-tbdjWMwQwl_iUAcW-uSq_8zAprmywdn5DQfBHvxZurs1=w300" width="30" height="30">
        </a>
      </button>
      <button class="btn" type="button">
        <a href="http://www.twitter.com/hlnghlthhpe" target="_blank">
          <img src="http://keithlhobbs.com/wp-content/uploads/Twitter_Logo-2uiuyy97zdiyemtnaty4ga.jpg" width="30" height="30">
        </a>
      </button>
    </h5>
  </div>
</div>
<div class="row">
  <div class="col-md-12" align="center">
    2004-2015 Healing, Health, & Hope, Inc.
  </div>
</div>
</div>
<hr>
<!-- End responsive, Isotope-based layout example -->
