.<!-- Responsive panel example-->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Item #<%= @item.id %></h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <dl class="dl-horizontal">
              <dt>Item name</dt>
              <dd><%= @item.item_name %></dd>

              <dt>Description</dt>
              <dd><%= @item.description %></dd>

              <dt>Value</dt>
              <dd>$<%= @item.value %></dd>


              <dt>Donor</dt>
              <dd><%= @item.donor %></dd>

              <dt>Photo</dt>
              <dd><%= image_tag @item.photo, width: 200 %></dd>

              <dt>Category</dt>
              <dd><%= @item.category.capitalize %></dd>

              <dt>Starting bid</dt>
              <dd>$<%= @item.starting_bid %></dd>
              <dd></dd>
              <dt>Bid Increase</dt>
              <dd>$<%= @item.incr %></dd>

              <dt>High Bid</dt>
              <dd>$<%= @item.bids.maximum("bid_amount") %>  </dd>
              <dt>High Bidder</dt>
              <dd><%= @high_bid.user.first_name %> <%= @high_bid.user.last_name %></dd>

            </dl>
            <div class="btn-group btn-group-justified">
              <a href="/items/<%= @item.id.to_i-1 %>" class="btn btn-primary">
                <i class="fa fa-chevron-left"></i>
              </a>

              <a href="/bids/new/<%= @item.id %>" class="btn btn-warning">
                <i class="fa fa-check">Bid</i>
              </a>

              <a href="/items/<%= @item.id.to_i+1 %>" class="btn btn-primary" rel="nofollow">
                <i class="fa fa-chevron-right"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- End responsive panel example -->
